// When app is open...
body.name-that-tune {

  // "Next in queue" section on "now playing" sidebar
  // (Always hide while app is active)
  .main-nowPlayingView-queue {
    display: none;
  }

  // While guessing, hide items that give away information while playing
  &.name-that-tune--guessing {
    // The left side chunk with the title, artist, album art, etc.
    .main-nowPlayingBar-left,
    // Play/pause/next/previous/etc.
    .player-controls__buttons,
    // Now Playing sidebar
    .main-nowPlayingView-content {
      opacity: 0;
      pointer-events: none;
    }

    // Disable playback bar interaction while playing
    .playback-bar {
      pointer-events: none;
    }
  }
}
