.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-size: 50px;
  color: var(--spice-text);
}

.subtitle {
  font-size: 40px;
}

.button {
  padding: 10px;
  border-radius: 10px;
  border:none;
  color: black;
  background-color: rgb(255, 255, 255);

  &:hover {
    background-color: rgb(243, 243, 243);
  }

  &:active {
    background-color: rgb(228, 228, 228);
  }
}

.counter {
  font-size: 50px;
}

.input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px 14px;
  background-color: var(--spice-main);
  color: var(--spice-text);
  font-size: 14px;
  border: 1px solid var(--spice-text);
  border-radius: 2px;

  &:focus {
    border: 1px solid var(--spice-button);
  }
}

.guessList {
  list-style-type: decimal;

  &:empty {
    display: none;
  }

  li {
    color: var(--spice-notification-error);
    &.correct {
      color: var(--spice-button);
    }
  }
}

// Container for the guess/skip buttons
.formButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  // flex-direction: column;
  gap: 20px;
}

.StatsButton {
  color: var(--spice-text) !important;
  background-color: transparent !important;
  padding: 12px !important;

  position: fixed !important;
  bottom: 4px;
  right: 4px;
}
